.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-joke {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

.jokes-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}