
.Box1 {
    width: 1000px;
    height: 600px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Box2 {
    width: 900px;
    height: 500px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Box3 {
    width: 800px;
    height: 400px;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .Box4 {
    width: 500px;
    height: 150px;
    background: purple;
  }