.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form-review {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

